# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Python
*.py[co]

LifeMetrics/MouseOdometer
LifeMetrics/MouseOdometer.log
LifeMetrics/PidginHistoryStackedAreaChartConfig.py
MusicJokes/build
MusicJokes/dist
MusicJokes/nbproject
MountManager/build
thexkb/thexkb
