# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

LifeMetrics/MouseOdometer
LifeMetrics/MouseOdometer.log
MusicJokes/build
MusicJokes/dist
MountManager/build
